h2{
    text-decoration-line: underline;
font: bold;
}
.link1{
    color: blue;
}
.link1 a{
    text-decoration-line: underline; 
    color: rgb(254, 229, 6);
}
.link2 a{
    text-decoration-line: underline; 
    color: rgb(254, 229, 6);
}
.link3 a{
    text-decoration-line: underline; 
    background-color: rgb(254, 229, 6);
    color: rgb(168, 81, 5);
}
.list1 a{
color: red;
text-decoration-line: underline;
}
.list1_m{
    margin: 20px 0;
}
#listone0 {
    font: bold;
    font-weight: bold;
   font-size: larger;
}
.list2{
    color: blue;
}
.list2 a{
    color: red;
    text-decoration-line: underline;
}
.list3{
    color: blue;
    list-style-type: none;
}
.firstlist{
    font-weight: bold;
}
